/**
 * Typography styles
 */

$app-font_family-primary: 'DM Sans', sans-serif;
$app-font_family-secondary: 'Poppins', sans-serif;

$hero-font_size: 80px;
$hero-line_height: 100px;
$hero-spacing: -0.5%;
$hero-weight: 700;

$h1-font_size: 48px;
$h1-line_height: 70px;
$h1-spacing: -0.5%;
$h1-weight: 700;

$h2-font_size: 40px;
$h2-line_height: 60px;
$h2-spacing: -0.5%;
$h2-weight: 700;

$h3-font_size: 34px;
$h3-line_height: 44px;
$h3-spacing: -0.5%;
$h3-weight: 500;

$h4-font_size: 24px;
$h4-line_height: 36px;
$h4-spacing: 0;
$h4-weight: 500;

$body_medium-font_size: 18px;
$body_medium-line_height: 26px;
$body_medium-spacing: 0;
$body_medium-weight: 400;
$body_mediumBold-weight: 500;

$body_regular-font_size: 16px;
$body_regular-line_height: 24px;
$body_regular-spacing: 0;
$body_regular-weight: 400;
$body_regularBold-weight: 500;

$caption_medium-font_size: 14px;
$caption_medium-line_height: 20px;
$caption_medium-spacing: 0;
$caption_medium-weight: 400;
$caption_mediumBold-weight: 500;

$caption_regular-font_size: 12px;
$caption_regular-line_height: 18px;
$caption_regular-spacing: 0;
$caption_regular-weight: 400;
$caption_regularBold-weight: 500;

$hairline_medium-font_size: 16px;
$hairline_medium-line_height: 25px;
$hairline_medium-spacing: 0;
$hairline_medium-weight: 700;

$hairline_regular-font_size: 14px;
$hairline_regular-line_height: 20px;
$hairline_regular-spacing: 0;

$button_large-font_size: 20px;
$button_large-line_height: 30px;
$button_large-spacing: 0;
$button_large-weight: 700;

$button_regular-font_size: 16px;
$button_regular-line_height: 24px;
$button_regular-spacing: 0;
$button_regular-weight: 700;

$button_small-font_size: 14px;
$button_small-line_height: 20px;
$button_small-spacing: 0;
$button_small-weight: 700;

/**
 * #END Typography styles
 */

/**
  * Colors
  */

$blue-primary: #326bff;
$blue-primary-800: #5a89ff;
$blue-primary-600: #83a7ff;
$blue-primary-400: #aec4fe;
$blue-primary-200: #d6e1ff;
